<div class="row">
  <div class="col-md-6">
    <h1>HCM Instances</h1>
  </div>
  <div class="col-md-3 col-md-offset-3">
    <%= link_to 'New Instance', new_instance_path, class: "btn btn-primary pull-right" %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Isntance name</th>
      <th>Instace ip</th>
      <th>Server user</th>
      <th>Server password</th>
      <th>App user</th>
      <th>App password</th>
      <th>DB name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @instances_hcm.each do |instance| %>
      <tr>
        <td><%= instance.isntance_name %></td>
        <td><%= instance.instace_ip %></td>
        <td><%= instance.server_user %></td>
        <td><%= instance.server_password %></td>
        <td><%= instance.app_user %></td>
        <td><%= instance.app_password %></td>
        <td><%= instance.db_name %></td>
        <td><%= link_to 'Show', instance, class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @instances_hcm %>
